.bc {
    display: flex;
    flex-direction: column;
}


.box-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #A4EBF3;
}

.main {
    margin-left: 30px;
    margin-right: 30px;


    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 140.62%;


}

.art {

    margin-left: 30px;
    margin-right: 30px;


    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 140.62%;

}

.cont {
    ;
    margin-left: 30px;
    margin-right: 30px;


    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 140.62%;

}

.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 30px;
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;

    background: #C1FCFF;
}

.text {
    display: flex;
   margin: 10px;
    text-decoration: none;

}
.button {
    margit-left: 20px;
    width: 5%;
}
.buttonNExt {
    display: flex;
    flex-direction: row;

}


.text-1 {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.foot {
    display: flex;
    justify-content: center;
    text-decoration: none;

}
.box-3 {

    position: fixed;
    display: flex;
    align-items:flex-end;

    padding: 10px;
    left: 0; bottom: 0;
    width: 100%;
    background: #C4C4C4;
}


